.ChessTable{
  display: grid;
  grid-template-columns: repeat(8, 9vmin);
  grid-gap: 10px;
  grid-template-rows: repeat(8, 9vmin);
}

.ChessTable__item{
  background-color: darkslateblue;
  min-width: 10px;
  min-height: 10px;
  color: blueviolet
}
.ChessTable__item--queen{
  background-color: orange;
  color:rgb(0, 255, 213);
}
